.base-layout {
    height:100%;
    width:100%;
    float:left;
    background-color:rgb(255, 254, 250);
    box-sizing: border-box;
}

.bg-layer {

}

.container {
    height:100%;
    width:100%;
    box-sizing: border-box;
}


@media (min-width: 576px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 768px) {
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 992px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 1200px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}