

@media (min-width: 576px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 768px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 992px) { 
    .container {
        padding-right: 7%;
        padding-left: 7%;
    }
}


@media (min-width: 1200px) { 
    .ss-container {
        width:100%;
        height:100%;
        float:left;
        position:relative;
        text-align:center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        clear: both;
    }
    
    .box {
        margin-top: 0px;
        width:180px;
        margin: 0;
        box-sizing: border-box;
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform:skewX(-15deg);
        transform: skewY(-15deg);
        float:left;
        position:relative;
    }
      
    .wrapper {
        -webkit-transform: skewY(20deg);

        
        -moz-transform: skewY(20deg);
        -ms-transform: skewY(20deg);
        -o-transform: skewY(20deg);
        transform: skewX(15deg);
        height:100%;
        margin:0 -30%;
    }

    @keyframes service-animation {
        0% {
            top: 0px; left: 0px; background: red;
        }
        50% {
            top: 0px; left: 0px; background: rgb(102, 6, 6);
        }
        100% {
            top: 0px; left: 0px; background: rgb(120, 110, 214);
        }

    }
}