
@media (min-width: 500px) { 
    
    .ss-container {
        width:100%;
        height:100%;
        float:left;
        position:relative;
        text-align:center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        clear: both;
        padding-right:3%;
    }

    .service-container {
        height:100%;
        min-height: 320px;
        max-height: 370px;
        max-width: 110px;
        margin-top: 0px;
        box-sizing: border-box;
        float: left;
        position: relative;
        overflow: hidden;
        
        width:20%
    }

    .service-cuntainer {
        transform: skewX(0deg);
    }

    .service-container .wrapper {
        height:80%;
        width:100%;
        box-sizing: border-box;
        transform: skewY(0deg);
        float: left;
        position:absolute;
    }

    .service-container .wrupper {
        background: linear-gradient(10deg, rgb(255, 71, 0), rgba(245, 33, 0, 0.178));
    }

    .service-container .wrapper .inner {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        transform: skewY(0deg);
        float: left;
        transition: all 4s;
        position:relative;
    }

    .inner:hover{
        background: rgb(73, 73, 165);
    }

  

    .service-bottom {
        bottom:3px;
    }

    .service-round-left {
        border-top-left-radius: 25px;
    }

    .service-round-right {
        border-bottom-right-radius: 25px;
    }

}